.video-description {
    width: 100%;
    font-weight: lighter;
    line-height: 22px;
}

.video-creator,
.video-stats {
    font-weight: lighter;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 0;
}

.videos-container {
    font-family: Roboto, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #e8e8e8;
    column-gap: 16px;
    row-gap: 40px;
    padding: 20px;
}

.video-info {
    /*width: 200px;*/
}

.video-title {
    font-weight: bold;
    font-size: 14px;
    /*height: 100%;*/
    width: 100%;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 20px;
}

.thumbnail-row {
    /*height: 100%;*/
    /*width: 100%;*/
    position: relative;
    margin-bottom: 8px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 75%;
    border-radius: 50%;
}

.channel-picture {
    vertical-align: top;
    /*width: 50px;*/
}

.thumbnail {
    width: 100%;
}

.video-duration {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

@media (max-width: 750px) {
    .videos-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .videos-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    .videos-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1250px) and (max-width: 1500px) {
    .videos-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}